<div class="grid-container">
    <div class="images">
        <div>
            <img src="https://images.pexels.com/photos/2221318/pexels-photo-2221318.jpeg?auto=compress&cs=tinysrgb" alt="Girl in a jacket">
        </div>
        <div>
            <img src="https://images.pexels.com/photos/3988250/pexels-photo-3988250.jpeg?auto=compress&cs=tinysrgb" alt="Girl in a jacket">
        </div>
    </div>

    <div class="info">

        <h1 style="color: #82346A; padding-bottom: 10px;"> Conoce los programas</h1>
        <p>
            Explora y encuentra el programa que mas se ajuste a tus necesidades.
        </p>

        <p>Busca y adquiere el instrumento que necesites o aun mejor alquilalo</p>

        <button class="btn"> Ver más</button>
    </div>

</div>