<div class="container">

    <div class="card">
        <div class="image-cont">
            <img src="assets/user.jpg" width="200px" height="200px" alt="">
        </div>
        <br>

        <form class="form" action="">
            <div>
                <input type="text" name="" id="" placeholder="username">
                <br>
                <input type="password" placeholder="password">
                <br>
            </div>

            <div class="button-cont">
                <button class="btn"> Iniciar sesion </button>
            </div>

            <div class="links">
                <a> olvidé mi contraseña</a>
                <p>¿No tines cuenta? registrate <a routerLink="/auth/register"> aqui</a></p>
            </div>
        </form>
    </div>



</div>