.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    font-size: 30px;
    width: 300px;
    padding: 20px 20px;
}

.image-cont {
    display: flex;
    justify-content: center;
}

img {
    border: 10px solid #FFBF3A;
    border-radius: 50%;
    object-fit: cover;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
}

input::-webkit-input-placeholder {
    text-align: center;
    line-height: 100px;
    /* Centrado vertical */
}

.button-cont {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 8px;
    width: 45%;
    color: #fff;
    background-color: #00B0B0;
    border: none;
    border-radius: 10px;
    outline: none;
}

.btn:hover {
    cursor: pointer;
    background-color: #327e7e;
}

.btn:disabled {
    background-color: #2e8686;
}

.btn:disabled:hover {
    background-color: #2e8686;
    cursor: auto;
}

.links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-justify: center;
    text-align: center;
    font-size: 15px;
    gap: 10px;
}

.form-cont {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.form-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.message-error {
    color: #82346A;
    font-size: 12px;
    font-weight: bolder;
}