<div class="container">

    <div class="card">
        <div class="image-cont">
            <img src="assets/user2.jpg" width="200px" height="200px" alt="">
        </div>
        <br>

        <form class="form" [formGroup]="myForm">
            <div class="form-items">

                <div class="form-cont">
                    <div class="input-form">
                        <input type="text" name="" id="" formControlName="name" placeholder="name">
                        <span class="message-error" *ngIf="validacion('name')">*  Debe superar el valor</span>
                    </div>
                    <div class="input-form">
                        <input type="text" name="" id="" formControlName="lastname" placeholder="lastname">
                        <span class="message-error" *ngIf="validacion('lastname')">*  Debe superar el valor</span>
                    </div>



                </div>

                <div class="form-cont">
                    <div class="input-form">
                        <input type="number" name="" id="" formControlName="day" placeholder="day">
                        <span class="message-error" *ngIf="validacion('day')">*  Debe superar el valor</span>
                    </div>
                    <div class="input-form">
                        <input type="number" name="" id="" formControlName="month" placeholder="month">
                        <span class="message-error" *ngIf="validacion('month')">*  Debe superar el valor</span>
                    </div>
                    <div class="input-form">
                        <input type="number" name="" id="" formControlName="year" placeholder="year">
                        <span class="message-error" *ngIf="validacion('year')">*  Debe superar el valor</span>

                    </div>
                </div>
                <div class="input-form">
                    <input type="text" name="" id="" formControlName="username" placeholder="username">
                    <span class="message-error" *ngIf="validacion('username')">*  Debe superar el valor</span>
                </div>
                <div class="input-form">
                    <input type="text" name="" id="" formControlName="email" placeholder="email">
                    <span class="message-error" *ngIf="validacion('email')">*  Debe estar en formato mail (ejemplo@mail.com)</span>
                </div>

                <div class="input-form">
                    <input type="text" name="" id="" formControlName="password" placeholder="password">
                    <span class="message-error" *ngIf="validacion('password')">*  Debe superar el valor</span>
                </div>

            </div>

            <div class="button-cont">
                <button class="btn" (click)="mensaje()" [disabled]="myForm.invalid"> Registrarse </button>
            </div>

            <div class="links">

                <p>¿ya tienes una cuenta? <a routerLink="/auth/login"> inicia sesion </a></p>

                <p>invalid {{myForm.invalid}}</p>
                <p> valid {{myForm.valid}}</p>
            </div>
        </form>
    </div>



</div>